body {
    font-family: sans-serif;
}


input[type="text"],
input[type="email"],
textarea,select
 {
    display: block; /* Affiche les éléments sur une nouvelle ligne */
    margin-bottom: 15px; /* Ajoute un espacement en bas de chaque élément */
}
.custom-modal-size {
    max-width:700px;
   
  }